html {
  width: 100vw;
  height: 100vh;
  background-color: black;
  overflow-x: hidden;
}

body {
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* --------------------- Navbar -----------------------------*/

.Navbar {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  font-family: 'Lato', sans-serif;
}

.Navbar .leftSide {
  margin: 15px;
  cursor: pointer;
}

.Navbar .leftSide a {
  text-decoration: none;
  font-size: 1.5rem;
  color: inherit;
  font-weight: 700;
}

.Navbar .rightSide a:hover {
  color: rgb(38, 150, 255);
  transition: 0.2s;
}

.Navbar .rightSide {
  display: flex;
  align-items: center;
}

.Navbar .rightSide a {
  text-decoration: none;
  font-size: 1rem;
  color: inherit;
  font-weight: 700;
  margin-right: 60px;
  cursor: pointer;
  transition: 0.2s;
}

.sidenav {
  display: none;
}

.Navbar i {
  display: none;
}

/* --------------------- Hero Section -----------------------------*/

.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.705), rgba(0, 0, 0, 0.705)), url(./assets/Spoiler\ Zone\ 2.png);

  /* Set a specific height */
  height: 93vh;
  min-height: 410px;

  /* Position and center the image to scale nicely on all screens */
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  font-family: 'Barlow Semi Condensed', sans-serif;
  position: absolute;
  top: 270px;
  left: 100px;
  color: white;
  font-size: 4rem;
  font-weight: 600;
}

.hero-text form input {
  font-family: 'Barlow Semi Condensed', sans-serif;
  background: rgba(255, 255, 255, 0.39);
  border: none;
  outline: none;
  padding: 10px;
  width: 500px;
  color: white;
  font-weight: 600;
  font-size: 1.1rem;
  text-transform: uppercase;
}

.hero-text form input::placeholder {
  color: rgba(255, 255, 255, 0.726);
}

/* --------------------- Footer -----------------------------*/

footer {
  font-family: 'Lato', sans-serif;
  color: white;
  padding: 15px;
  text-align: center;
}

/* --------------------- About -----------------------------*/

.About {
  min-height: 87vh;
  width: 100vw;
  display: grid;
  grid-template-columns: auto 800px;
  color: white;
}

.About .rightSide {
  height: 100%;
  width: 100%;
  justify-self: center;
  align-self: center;
}

.About .rightSide img {
  max-width:100%;
  height:auto;
  padding: 100px;
  mask-image: linear-gradient(rgba(0, 0, 0, 0.705), rgba(0, 0, 0, 0.705));
}

.About .leftSide {
  margin-left: 30px;
}

.About .leftSide h1 {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 2.8rem;
  margin-top: 50px;
  margin-bottom: 30px;
  font-weight: 600;
}

.About .leftSide p {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
  text-align: justify;
}

.About .leftSide p a {
  text-decoration: none;
  color: rgb(44, 118, 255);
}

#attribution {
  color: rgba(255, 255, 255, 0.616);
}

.About .leftSide img {
  width: 200px;
}

/* --------------------- Catalogo -----------------------------*/

.Catalogo {
  padding: 0 30px;
  width: 100vw;
  min-height: 81vh;
  color: white;
}

.Catalogo h1 {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 2.8rem;
  margin-top: 50px;
  margin-bottom: 30px;
  font-weight: 600;
}

.Catalogo .letterDiv {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: justify;
  margin-top: 20px;
}

.movieLink {
  padding-left: 15px;
  margin-top: 15px;
}

.Catalogo p a {
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  font-size: 1.3rem;
  color: inherit;
  font-weight: 700;
  margin-bottom: 17px;
}

/* --------------------- Filme -----------------------------*/

.Filme {
  background-color: white;
  padding: 40px 100px;
}

.movieHeader {
  display: grid;
  grid-template-columns: 400px auto;
}

.Filme img {
  padding: 50px 50px 50px 0;
  max-width:100%;
  height:auto;
}

.movieDescription {
  padding-left: 30px;
}

.Filme h1 {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 2.8rem;
  margin-top: 50px;
  margin-bottom: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

#tagline {
  font-size: 1.6rem;
  margin-bottom: 40px;
}

.Filme p {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  text-align: justify;
  margin-bottom: 30px;
}

.Filme p b {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
  text-align: justify;
}

.Filme li {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  text-align: justify;
  margin-bottom: 30px;
}

.Filme li b {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
  text-align: justify;
}

.spoilerDivision {
  background-color: #D3D3CF;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 2.4rem;
  font-weight: 600;
  text-transform: uppercase;
  padding-left: 10px;
  margin: 40px -10px 50px;
}

.spoilers p a {
  text-decoration: none;
  color: rgb(44, 118, 255);
}

/* --------------------- Search -----------------------------*/

.Search {
  background-color: white;
  padding: 60px 60px;
}

.Search h1 {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 600;
  font-size: 2.0rem;
  margin-bottom: 20px;
}

.movieGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.movieBlock {
  display: flex;
  margin-bottom: 30px;
}

.movieBlock img {
  width: 150px;
}

.movieBlock .rightSide {
  margin-top: 30px;
  margin-left: 40px;
  margin-right: 40px;
}

.movieBlock h1 {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 600;
  font-size: 2.0rem;
  margin-bottom: 20px;
}

.movieBlock p {
  font-family: 'Lato', sans-serif;
  font-size: 1.0rem;
  margin-bottom: 15px;
}

.btnFlex {
  display: flex;
  justify-content: space-around;
}

.btnFlex button {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 600;
  outline: none;
  font-size: 1rem;
  background-color: white;
  color: black;
  padding: 5px 15px;
  border: 3px solid rgb(180, 180, 180);
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
}

#pageCount {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 1.0rem;
}

#noResultsText {
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
  margin-bottom: 15px;
}

/* --------------------- Add Spoiler Section ------------------------*/

.AddSpoiler {
  background-color:#e4e4e4;
  padding: 20px;
  margin: 80px -10px 50px;
}

#SendSpoilerTitle {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 1.75rem;
  font-weight: 600;
  text-transform: uppercase;
}

.AddSpoiler input, textarea {
  font-family: 'Lato', sans-serif;
  font-size: 1.1rem;
  min-width: 100%;
  max-width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

.AddSpoiler textarea {
  min-height: 200px;
}

.AddSpoiler button {
  font-size: 0.9rem;
  background-color: rgb(38, 150, 255);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#movieName {
  padding-left: 6px;
  margin-top: 6px;
  margin-bottom: 10px;
}

#sendSpoilerMsg {
  font-family: 'Lato', sans-serif;
  font-size: medium;
}





/* --------------------- Mobile View -----------------------------*/

/* -------------- Filme --------------------*/

@media only screen and (max-width: 1000px) {
  .spoilerDivision {
    padding-left: 50px;
    margin: 40px -50px 50px;
  }

  .Filme {
    padding: 40px 50px;
  }

  .movieHeader {
    grid-template: auto / auto;
    justify-items: center;
  }

  .movieDescription {
    text-align: center;
    padding-left: 0;

  }

  #tagline {
    text-align: center;
  }

  .Filme img {
    padding: 20px 0 0 0;
  }
}

@media only screen and (max-width: 450px) {
  .spoilerDivision {
    font-size: 2rem;
    margin: 30px -50px 40px;
  }

  .About .leftSide img {
    margin-bottom: 30px;
  }
}


/* -------------- Hero --------------------*/

@media only screen and (max-width: 1100px) {
  .hero-text {
    font-size: 3.3rem;
    top: 200px;
  }
  
  .hero-text form input {
    margin-top: 30px;
    width: 400px;
  }  
}

@media only screen and (max-width: 650px) {
  .hero-text {
    font-size: 2.3rem;
    top: 150px;
  }
  
  .hero-text form input {
    margin-top: 30px;
    width: 350px;
  } 
}

@media only screen and (max-width: 550px) {
  .hero-text {
    font-size: 1.8rem;
  }
  
  .hero-text form input {
    font-size: 0.8rem;
    margin-top: 30px;
    width: 250px;
  } 
}

@media only screen and (max-width: 440px) {
  .hero-text {
    font-size: 1.8rem;
    left: 50px;
  }
  
  .hero-text form input {
    font-size: 0.8rem;
    margin-top: 30px;
    width: 250px;
  } 
}



@media only screen and (max-height: 750px) {
  .hero-text {
    top: 150px;
  }
}

@media only screen and (max-height: 530px) {
  .hero-text {
    top: 50px;
  }
}


/* -------------- Sobre --------------------*/

@media only screen and (max-width: 1250px) {
  .About {
    grid-template: auto / auto;
  }

  .About .leftSide {
    margin: 0 40px;
  }

  .About .rightSide {
    display: flex;
    justify-content: center;
  }

  .About .rightSide img {
    max-width:800px;
  }
}

@media only screen and (max-width: 800px) {
  .About .rightSide img {
    max-width:100%;
    padding: 60px;
  }
}

@media only screen and (max-width: 530px) {
  .About .rightSide {
    display: none;
  }
}



/* -------------- Sidebar --------------------*/

@media only screen and (max-width: 600px) {
  .Navbar .rightSide {
    display: none;
  }

  .Navbar span {
    display: block;
  }

  .Navbar i {
    display: block;
    align-self: center;
    margin-right: 15px;
  }

  .sidenav {
    display: block;
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: black; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    display: block;
    transition: 0.3s;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    padding: 8px 8px 8px 32px;
    margin-left: 50px;
    background: none;
    border: none;
    outline: none;
    color: white;
    transition: 0.3s;
  }
}


/* -------------- Search --------------------*/

@media only screen and (max-width: 1160px) {
  .movieGrid {
    grid-template-columns: 1fr;
    margin-left: 100px;
  }

  .movieBlock img {
    width: auto;
  }

  .movieBlock h1 {
    font-size: 2.2rem;
  }
  
  .movieBlock p {
    font-size: 1.15rem;
  }
}

@media only screen and (max-width: 900px) {
  .movieGrid {
    margin-left: 0;
  }

  .movieBlock .rightSide {
    margin-right: 20px;
  }
}

@media only screen and (max-width: 680px) {
  .movieBlock {
    flex-direction: column;
    align-items: center;
  }

  .movieBlock .rightSide {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }

  .movieBlock h1 {
    margin-bottom: 10px;
  }

  .originalTitle {
    display: none;
  }
}

@media only screen and (max-width: 550px) {
  .movieBlock img {
    width: 150px;
  }

  .movieBlock h1 {
    font-size: 2.0rem;
  }
  
  .movieBlock p {
    font-size: 1.0rem;
  }

  .movieBlock .rightSide {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

@media only screen and (max-width: 450px) {
  .btnFlex button {
    margin: 0 10px;
  }
}

@media only screen and (max-width: 360px) {
  .Search {
    padding: 60px 20px;
  }
}


/* -------------- Add Spoilers Section ----------------*/

@media only screen and (max-width: 450px) {
  #SendSpoilerTitle {
    font-size: 1.5rem;
  }

  #movieName {
    font-size: 1.2rem;
  }
}